<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <ul class="navbar-nav">
            <li><a routerLink="/" class="nav-link">Timeline</a></li>
            <!-- <li><a routerLink="/view-users" class="nav-link">View Users</a></li> -->
            <!-- <li><a routerLink="/adduser" class="nav-link">Add New Users</a></li> -->
            <li><a routerLink="/login" class="nav-link">Login</a></li>
            <li><a routerLink="/create-account" class="nav-link">Create Account</a></li>
            <li><a routerLink="/profile" class="nav-link">Profile</a></li>
        </ul>

    </nav>

</header>