body {
  background-color: lightgrey;
  padding: 0px;
  margin: 0;
  
}

div{
    width: 1000px;
    margin: 0 auto;
    flex-shrink: 3;
  }
  hr{
    width: 100%;
    position: absolute;
    top: 20%;
    width: 2px;
    color: solid black;
  }
  
  /* Start of the margins construction */
  .v1 {
    border-left: 2px solid black;
    height: 100%;
    position: absolute;
    left: 20%;
    margin-left: -3px;
    top: 0;
  }
  
  .v2 {
    border-left: 2px solid black;
    height: 100%;
    position: absolute;
    left: 80%;
    margin-left: -3px;
    top: 0;
  }
  
  .dashed-border {
    width: 100%;
    top: 13.5%;
    border: 1px solid black;
  }

 /* Banded Header */
.banded {
    color: black;
    font-size: 60px;
    position: relative;
    top: 3%;
    left: 22%;
    font-family: 'Courier New', Courier, monospace;
  }

  .createPost {
    color: black;
    font-size: 40px;
    position: absolute;
    top: 17%;
    left: 40%;
    font-family: 'Courier New', Courier, monospace;
  }

/* Start of 4 buttons on the left */
.addPhoto {
  text-align: center;
  color: black;
  text-decoration: inline-block;
  background-color: lightgrey;
  font-size: 20px;
  position: absolute; left: 2%; top: 17%;
  font-family: 'Courier New', Courier, monospace;
}

.addAudioFile{
  text-align: center;
  color: black;
  text-decoration: inline-block;
  background-color: lightgrey;
  font-size: 20px;
  position: absolute; left: 2%; top: 22%;
  font-family: 'Courier New', Courier, monospace;
}

.addVideo{
  text-align: center;
  color: black;
  text-decoration: inline-block;
  background-color: lightgrey;
  font-size: 20px;
  position: absolute; left: 2%; top: 27%;
  font-family: 'Courier New', Courier, monospace;
}

.settings {
  text-align: center;
  color: black;
  text-decoration: inline-block;
  background-color: lightgrey;
  font-size: 20px;
  position: absolute; left: 2%; top: 32%;
  font-family: 'Courier New', Courier, monospace;
}

  .caption {
    position: absolute;
    top: 38%;
    left: 22%;
  }

  .title {
    position: absolute;
    top: 30%;
    left: 22%;
  }

  .topic {
    position: absolute;
    top: 46%;
    left: 22%;
  }

  .anonymousOrNot {
    position: absolute;
    top: 51%;
    left: 22%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 20px;
  }

  .topicButton {
    display: inline-block;
    color: black;
    font-weight: 300;
    position: absolute;
    top: 46%;
    left: 36%;
    border-radius:2em;
  }

  .enterTitle {
    position: absolute;
    top: 27%;
    left: 22%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 20px;
  }

  .enterCaption {
    position: absolute;
    top: 35%;
    left: 22%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 20px;
  }
  .capRemLab {
    position: absolute;
    top: 27%;
    left: 68%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 14px;
    text-decoration: underline;
  }

  .capRem1 {
    position: absolute;
    top: 38.1%;
    left: 72%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 20px;
  }

  .titleRem1 {
    position: absolute;
    top: 30.1%;
    left: 72%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 20px;
  }

  .topicRem1 {
    position: absolute;
    top: 46.1%;
    left: 36%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 20px;
  }
  .addTopic{
    position: absolute;
    top: 43%;
    left: 22%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 20px;
  }

.anonymousButtons1 {
  display: inline-block;
  color: black;
  font-weight: 300;
  position: absolute;
  top: 56%;
  left: 22%;
  border-radius:2em;
  border-color: black;
}

.anonymousButtons1:hover {
  background-color: wheat;
}

.publicButton1 {
  display: inline-block;
  border-color: black;
  color: black;
  font-weight: 300;
  position: absolute;
  top: 56%;
  left: 31%;
  border-radius:2em;
}

.publicButton1:hover {
  background-color: wheat;
}