<html>
   <head>      
        <script>
        // When the user clicks on <div>, open the popup
            function myFunction() {
             var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
            }
        </script>   
    </head>

   <p></p>

   <!-- <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    This is an alert box.
  </div> -->

  <p></p>

   <body>
        <div class="col-md-6">
            <h2 class="text-center">Login</h2>
            <form>
                <div class="form-group">
                    <label for="name">Username:</label>
                    <input [(ngModel)]="user.userName" placeholder="Username" name="userID" class="form-control" id="userID">
                </div>
        
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input [(ngModel)]="user.password" placeholder="Password" name="password" class="form-control" id="password">
                </div>
                <!-- <button class="btn btn-success" (click)="createUser()">Create</button> //-->
            </form>
            <p></p>
            <input type = "button" onclick="loginRequest()" value = "Go" />

        </div>
   </body>  
</html>

