<div class="col-md-6">
    <h2 class="text-center">Login</h2>
    <form>
        <div class="form-group">
            <label for="name">Username:</label>
            <input [(ngModel)]="user.userName" placeholder="Username" name="userID" class="form-control" id="userID">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input [(ngModel)]="user.password" placeholder="Password" name="password" class="form-control" id="password">
        </div>
        <button class="btn btn-success" (click)="createUser()">Create</button>
        
        <div class="popup" onclick="myFunction()">Click me!
            <span class="popuptext" id="myPopup">Popup text...</span>
          </div>
    
    </form>
</div>