body {
    background-color: lightgrey;
    padding: 0px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
  
    /* less than 100 to account for header height */
    height: 92vh;
    max-width: 100vw;
    
    font-family: 'Courier New', Courier, monospace;
  }
  
  div{
    /* height: 100%; */
    width: 1000px;
    margin: 0 auto;
    flex-shrink: 3;
  }
  
  /* Start of the margins construction */
  .v1 {
    border-left: 2px solid black;
    height: 100%;
    position: absolute;
    left: 20%;
    margin-left: -3px;
    top: 0;
  }
  
  .v2 {
    border-left: 2px solid black;
    height: 100%;
    position: absolute;
    left: 80%;
    margin-left: -3px;
    top: 0;
  }


  /* BELOW IS COPY PASSTE FORM ENTIRE TIMELINE CSS */

  body {
    background-color: lightgrey;
    padding: 0px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
  
    /* less than 100 to account for header height */
    height: 92vh;
    max-width: 100vw;
    
    font-family: 'Courier New', Courier, monospace;
  }
  
  div{
    /* height: 100%; */
    width: 1000px;
    margin: 0 auto;
    flex-shrink: 3;
  }
  
  /* Start of the margins construction */
  .v1 {
    border-left: 2px solid black;
    height: 100%;
    position: absolute;
    left: 20%;
    margin-left: -3px;
    top: 0;
  }
  
  .v2 {
    border-left: 2px solid black;
    height: 100%;
    position: absolute;
    left: 80%;
    margin-left: -3px;
    top: 0;
  }
  
  /* End of the margins construction */
  
  .timeline-header {
    display: grid;
    grid-template-columns: 0 0;
  }
  
  /* Banded Header */
  .timeline-header .title {
    color: black;
    font-size: 60px;
    position: relative;
    left: -40px;
  }
  
  /* (for logged in users) Both the small username and small profile pic for header 
  * visiblity is hidden until user is logged in*/
  .timeline-header .user {
    display: grid;
    grid-template-columns: 100% 5px;
  }
  
  .timeline-header .user .smallUserName {
    color: black;
    font-size: 25px;
    position: relative;
    text-align: right;
    right: 10px;
    top: 29.5px;
  }
  
  .timeline-header .user .smallProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    position: relative;
    top: 22px;
    /* visibility: hidden; */
  }
  
  /* bottom line of header */
  .hr{
    border-bottom: 2px solid black;
    height: 100%;
    position: relative;
    top: 0;
  }
  
  .container {
    display: grid;
    grid-template-columns: 0 0;
  }
  /* For the 4 buttons on the left */
  .side-button {
    text-align: center;
    color: black;
    text-decoration: inline-block;
    background-color: darkgrey;
    font-size: 20px;
    position: relative;
    padding: 5px;
    left: -42%;
  }
  /* End of 4 buttons on the left */
  
  
  /* Start of timeline post display */
  
  .timeline{
    margin-top:20px;
    position:relative;
  }
  
  .post{
    position:relative;
    background-color:#ececec;
    border-radius:15px;
    border:1px solid #17191B;
    transition:all 0.3s ease;
    overflow:hidden;
    left: -1%;
  }
  
  .post-icon{
    position:absolute;
    right:5px;
    top:0px;
  }
  
  .post-time {
    padding:5px 15px;
  }
  
  .post-tags{
    padding:5px 15px;
    border-bottom: 1px solid #17191B;
    /* overflow: auto; */
  }
  
  .post-tags .name{
    margin-right:5px;
    float: left;
  }
  
  .post-tags .tag{
    /* text-align: center; */
    width: max-content;
    border: 2px solid coral;
    content: initial;
    padding: 0.5px 2px;
    margin: 2px;  
    /* float: left; */
    display: inline-block;
  }
  
  .post-content{
    padding:5px 15px;
    background-color:#ececec;
  }
  
  .post-content strong{
    color:#666;
    font-style:italic;
    margin-right:5px;
  }
  
  .post-title {
    font-size: 20px;
    font-style: italic;
    padding: 5px 15px;
  }
  
  .post-text{
    margin-bottom:5px;
    padding:5px 15px;
  }
  
  .post-footer{
    padding: 2px 15px;
    border-top: 1px solid #17191B;
    background-color:#ececec;
    text-align:right;
    font-style:italic;
  }
  
  /* Does nothing since putting href in the <a> tag gives all the visual indicators for the button */
  .reply-button {
    cursor: pointer; 
  }
  
  .timeline-footer {
    background-color: lightgray;
    height: 30px;
  }
  
  .myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  .myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  
  /* End of time line post display */
  
  .mySavedPosts {
    text-align: center;
    color: black;
    text-decoration: inline-block;
    background-color: darkgrey;
    font-size: 20px;
    position: relative;
    padding: 5px;
    left: -42%;
  }