<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="./timeline.component.css" rel="stylesheet">

  <script type="text/javascript">
    function vis() {
      if(currProfile == null) {
        document.getElementById("smallUserName").style.visibility="hidden";
        document.getElementById("smallProfileImg").style.visibility="hidden";
        console.log('invis');
      } else {
        document.getElementById("smallUserName").style.visibility="visible";
        document.getElementById("smallProfileImg").style.visibility="visible";
        console.log('vis');
      }
    }
  </script>
</head>

<!-- Calls the vis function on loading the body -->
<body onload="vis()">

  <!--Below Are the Verticle Lines for Margins-->
  <div class="v1"></div>
  <div class="v2"></div>

  <!-- code foe the timeline header (title and profile info) -->
  <div class="timeline-header">
    <!--Banded Header-->
    <div class = "title"> Banded</div>


    <!-- if signed in displays profile info -->
    <div class="user">
      <div class="smallUserName">{{this.currProfile.userName}}</div>
      <img class= "smallProfileImg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf1Mcs-qS5Q5-CO5gtMi3uhprMUS0ee7dijxa3nei0XEK41jFbXyWlIDr1CA0KKGdD33o&usqp=CAU" alt= usernameholder>
    </div>
  </div>

  <!-- line for end of header -->
  <hr>

  <!-- The four buttons on the left hand side-->

  <!--This is Sam's Test button for post viewing page-->
  <a routerLink="/postViewingPage" class="nav-link"><button  class="testerButton">View Post Test btn</button></a>


    <a routerLink="/createPost" class="nav-link"><button class="createPost">Create Post</button></a>

<!---->

<!--
  <a href="createPost.component.html"><button class="createPost">Create Post</button></a>
  -->


  <button class="directMessages">Direct Messages</button>

  <button class="followingTags">Following Tags</button>
  <button class= "settings">Settings</button>

</body>

    <div class="timeline">

      <!-- start of first post -->
      <div class="post" *ngFor="let post of posts">
        <div class="post-time"> {{this.getPostService().convertDateTime(post.postTime)}} </div>
        <div class="post-tags">
          <div class="name"></div> Tags:
          <div class="tag"> {{post.topicName}} </div>
        </div>

        <div class="post-content">
          <div class = "post-title"> {{post.postTitle}} </div>
          <div class="post-text"> {{post.postText}} </div>
        </div>
        <div class="post-footer">
          <!-- Sam this the button that will redirect to the post page
          currently redirects to login -->
          <a href="{{'/postViewingPage/' + post.postID}}" class="reply-button">Reply --> </a>
        </div>
      </div>

      <!-- spacing between posts -->
      <p></p>

      <!-- end of posts -->
    </div>

    <div class="timeline-footer">
      <!-- TODO this needs to pass a int to backend too -->
      <button (click)=reloadPage() class="btn btn-success">Refresh</button>
    </div>
</html>
