<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="./timeline.component.css" rel="stylesheet">
</head>

<body>
  <div class="div"></div>

  <!--Below Are the Verticle Lines for Margins-->
  <div class="v1"></div>
  <div class="v2"></div>
  <hr class="dashed-border">

  <!--Banded Header-->
  <p class = "banded"> Banded</p>

  <!-- The four buttons on the left hand side-->

  <!--This is Sam's Test button for post viewing page-->
  <a routerLink="/postViewingPage" class="nav-link"><button class="testerButton">View Post Test btn</button></a>
  
    
    <a routerLink="/createPost" class="nav-link"><button class="createPost">Create Post</button></a>
  
<!---->

<!--
  <a href="createPost.component.html"><button class="createPost">Create Post</button></a>
  -->

  
  <button class="directMessages">Direct Messages</button>
  <a routerLink="/topicsPage" class="nav-link"><button class="topicsFollowed">Topics Followed</button></a>
  <button class="followingTags">Following Tags</button>
  <button class= "settings">Settings</button>
  
</body>

</html>
