<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./commentViewer.component.css" rel="stylesheet">
    </head> 

  
<body>
     <!--Below Are the Verticle Lines for Margins-->
     <div class="v1"></div>
     <div class="v2"></div>
 
     <div class="container">
       <div class="toppane">
         <!--Banded Header-->
         <div class = "title"> Banded</div>
 
         <!-- if signed in displays profile info -->
         <div class="user">
           <div class="smallUserName">currProfile.userName</div>
           <img class= "smallProfileImg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf1Mcs-qS5Q5-CO5gtMi3uhprMUS0ee7dijxa3nei0XEK41jFbXyWlIDr1CA0KKGdD33o&usqp=CAU" alt= usernameholder>
         </div>
       </div>
       <div class="leftpane">
         
         <!-- The four buttons on the left hand side -->
         <div>
           <p></p>
           <p></p>
           <a routerLink="/createPost" class="nav-link"> <button class="side-button">Create Post</button></a>
           <p></p>
           
           <button class="side-button">Settings</button>
           
         </div>
       </div>
       <div class="middlepane">
         <div class="timeline">
 
           <!-- start of first post -->
           <!--Backend INsert for *ngFor = ...-->
           <div class="post">
             <div style="display: flex; justify-content: space-between;">
               <span class="post-time"> this.convertDateTime(post.postTime) </span>
               <span class="post-user"> post.userName </span>
             </div>
             
     
             <div class="post-content">
               <div class = "post-title"> Here is the comment </div>
               
             </div>
             <div class="post-footer">
               <!-- The button that will redirect to the post page
               currently redirects to login -->
               
             </div>
           </div>
     
           <!-- spacing between posts -->
           <p></p>
     
           <!-- end of posts -->
 
           <div class="timeline-footer">
             <!-- TODO this needs to pass a int to backend too -->
             <button class = "refresh-button" onClick="window.location.reload();">Refresh Page</button>
           </div>
         </div>
       </div>
 
       
     </div>
     
    
  </body>
</html>