<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="./topicsPage.component.css" rel="stylesheet">
</head>

<body>
    <div class="div"></div>
  

    <!--Below Are the Verticle Lines for Margins-->
    <div class="v1"></div>
    <div class="v2"></div>
    <hr class="dashed-border">
  
  
    <!--Banded Header-->
    <p class = "banded">Banded</p>
    <a routerLink="/" class="nav-link"><button class="backToTimeline">Back To Timeline</button></a>
</body>