* { margin: 0; padding: 0;}
body {
  background-color: lightgrey;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  
}

div{
  width: 1000px;
  margin: 0 auto;
  flex-shrink: 3;
}

 /* Start of the margins construction */
.v1 {
  border-left: 2px solid black;
  height: 100%;
  position: absolute;
  left: 20%;
  margin-left: -3px;
  top: 0;
}

.v2 {
  border-left: 2px solid black;
  height: 100%;
  position: absolute;
  left: 80%;
  margin-left: -3px;
  top: 0;
}

.dashed-border {
  width: 100%;
  top: 13.5%;
  border: 1px solid black;
}

hr{
  width: 100%;
  position: absolute;
  top: 20%;
  width: 2px;
  color: solid black;
}
/* End of the margins construction */


/* Banded Header */
.banded {
  color: black;
  font-size: 60px;
  position: relative;
  top: 3%;
  left: 22%;
  font-family: 'Courier New', Courier, monospace;
}

table {
  border-collapse: collapse;
  empty-cells: show;
}

.infoTable {
  border-collapse: separate;
  border-spacing:0 15px;
  column-count: 2;
  column-gap: 40px;
 
}

.picTable {
  border-collapse: separate;
  border-spacing:0 15px;
  column-count: 2;
  column-gap: 40px;
 
}


.infoHeader {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 50;
}



/* Big Username */
  .userName {
    color: black;
    font-size: 45px;
    text-align: left;
    position: absolute; left: 830px; top: 23%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

  }

/* Bio */  
  .bio {
     color: black;
     font-size: 20px;
     text-align: left;
     position: absolute; left: 830px; top: 30%;
     font-family: 'Courier New', Courier, monospace;
  }
  
/* Topic Header */  
  .topicHeader {
    color: black;
    font-size: 30px;
    text-align: left;
    position: absolute; left: 830px; top: 350px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
 }

 /* Topics Followed */
 .topicsFollowed {
  color: black;
  background-color: bisque;
  font-size: 20px;
  text-align: left;
  position: absolute; left: 830px; top: 400px;
  font-family: 'Courier New', Courier, monospace;
}

/* Start of 4 buttons on the left */
.createPost {
  text-align: center;
  color: black;
  text-decoration: inline-block;
  background-color: lightgrey;
  font-size: 20px;
  position: absolute; left: 2%; top: 17%;
  font-family: 'Courier New', Courier, monospace;
}

.directMessages{
  text-align: center;
  color: black;
  text-decoration: inline-block;
  background-color: lightgrey;
  font-size: 20px;
  position: absolute; left: 2%; top: 22%;
  font-family: 'Courier New', Courier, monospace;
}

.followingTags{
  text-align: center;
  color: black;
  text-decoration: inline-block;
  background-color: lightgrey;
  font-size: 20px;
  position: absolute; left: 2%; top: 27%;
  font-family: 'Courier New', Courier, monospace;
}

.settings {
  text-align: center;
  color: black;
  text-decoration: inline-block;
  background-color: lightgrey;
  font-size: 20px;
  position: absolute; left: 2%; top: 32%;
  font-family: 'Courier New', Courier, monospace;
}

.followedUsers {
  text-align: center;
  color: black;
  text-decoration: inline-block;
  background-color: lightgrey;
  font-size: 20px;
  position: absolute; left: 2%; top: 37%;
  font-family: 'Courier New', Courier, monospace;
}

.savedPosts {
  text-align: center;
  color: black;
  text-decoration: inline-block;
  background-color: lightgrey;
  font-size: 20px;
  position: absolute; left: 2%; top: 42%;
  font-family: 'Courier New', Courier, monospace;
}

.followBtn {
  text-align: center;
  color: black;
  text-decoration: inline-block;
  background-color: lightgrey;
  font-size: 20px;
  position: absolute; left: 2%; top: 47%;
  font-family: 'Courier New', Courier, monospace;
}

.blockBtn {
  text-align: center;
  color: black;
  text-decoration: inline-block;
  background-color: lightgrey;
  font-size: 20px;
  position: absolute; right: 13.5%; top: 17%;
  font-family: 'Courier New', Courier, monospace;
}

.editInfo {
  text-align: center;
  color: black;
  text-decoration: inline-block;
  background-color: lightgrey;
  font-size: 20px;
  position: absolute; right: 8%; top: 22%;
  font-family: 'Courier New', Courier, monospace;
  cursor:pointer;
}

.editPic{
  text-align: center;
  color: black;
  text-decoration: inline-block;
  background-color: lightgrey;
  font-size: 20px;
  position: absolute; right: 8.6%; top: 27%;
  font-family: 'Courier New', Courier, monospace;
  cursor:pointer;
}

.editInfo:hover {
  background-color: lightgoldenrodyellow;
}

/* End of 4 buttons on the left */


/* The tags that the user are following */
  /* Profile Pic */
  .profileImg {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 40%;
    position: absolute; left:475px; top:200px;
  }

/* Both the small username and small profile pic for header */
  .smallUserName {
    color: black;
    font-size: 25px;
    text-align: left;
    position: absolute; left:67%; top: 8.5%;
  }
  .smallProfileImg {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 75px;
    height: 75px;
    border-radius: 40%;
    position: absolute; left:74%; top:6.5%;
  }

  /* editBio and Delete Account button */
  .editBio {
    text-align: center;
    border: none;
    color: red;
    text-decoration: inline-block;
    background-color: lightgrey;
    font-size: 20px;
    position: absolute; left: 70%; top: 25%; 
  }

  .deleteAccount {
    text-align: center;
    border: none;
    color: red;
    text-decoration: inline-block;
    background-color: lightgrey;
    font-size: 20px;
    position: absolute; left: 29%; top: 55%; 
  }

  .iform-container {
    align-items: center;
    padding: 10px;
    background-color: lightgrey;
    max-width: 500px;
    min-width: 500px;
  }

  .infoHeader {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
  }


  .pform-container {
    align-items: center;
    padding: 10px;
    background-color: lightgrey;
    max-width: 500px;
    min-width: 500px;
  }

  .PicHeader {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
  }


  .changeEmail {
    background-color: lightblue;
    border-color: black;
    border-radius: 30%;
  }

  .changeEmail:hover {
    background-color: rgb(230, 238, 80);
  }
  
  .form-popup {
    display: none;
  
    position: fixed;
    bottom: 100px;
    right: 15px;
    
    z-index: 9;
  }
  .form-container {
    max-width: 500px;
    padding: 10px;
    background-color: lightgrey;
  }

  
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
 
  .form-container .submit {
    background-color: lightblue;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  .form-container .cancel {
    background-color: lightcoral;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }


  /* -------------------------------------------------------------- */
  /* -------------------------------------------------------------- */
  /* -------------------------------------------------------------- */
  /* -------------------------------------------------------------- */
  /* -------------------------------------------------------------- */

  .form-popup-dc {
    display: none;
  
    position: fixed;
    bottom: 100px;
    right: 15px;
    
    z-index: 9;
  }
  .form-container-dc {
    max-width: 500px;
    padding: 10px;
    background-color: lightgrey;
    
  }

  
  .form-container-dc input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
 
  .form-container-dc .delete {
    background-color: lightblue;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  .form-container-dc .cancel {
    background-color: lightcoral;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }

  /* Start of the margins construction */
.pageContainer {
  min-width: 100%;
  height: 100%;
}

/* ================================ left ================================ */

.leftpane {
  width: 20%;
  height: 100%;
  float: left;
  /* background-color: lightgoldenrodyellow; */
  border-collapse: collapse;
}
/* ================================ top ================================ */
.toppane {
  width: 100%;
  height: 100px;
  border-collapse: collapse;
  /* background-color: lightpink; */
  border-bottom: 2px solid black;
  text-align: center;
  
  /* Centering code */
  display: flex;
  align-items: center;
}

/* Banded Header */
.toppane .title {
  position: relative;
  left: 21%;
  /* padding: 0px 15px; */
  color: black;
  font-size: 60px;
}

/* (for logged in users) Both the small username and small profile pic for header 
* visiblity is hidden until user is logged in*/
.toppane .user {
  /* visibility: hidden; */

  display: flex;
  align-items: center;
  
  position: relative;
  left: 59%;
  /* padding: 0px 15px; */
}

.toppane .user .smallUserName {
  color: black;
  font-size: 25px;
  text-align: right;
  padding: 0px 20px;
  float: left;
}

.toppane .user .smallProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  float: right;
}

/* End of the margins construction */

.picSelection:hover {
  cursor:grab;
}

